# Fast Track to Julia NoteBook

Expanding on parts of [Fast Track to Julia](https://juliadocs.github.io/Julia-Cheat-Sheet/)

## Basics

In [50]:
a = 2.5
5a

12.5

In [51]:
5*a

12.5

`ans` has the result from the last calculation:

In [52]:
ans

12.5

### Two types of comments 

#### Frist type:

In [53]:
# this is a one line comment
9a # comment can be at the end of a line too

22.5

#### Second type:

In [54]:
#= This is the first line of a comment block
9a # comment can be at the end of a line too
This is the last line of the block =#

### Julia allows simple way to swap values of variables

In [55]:
a,b = 1,2
[a,b]

2-element Array{Int64,1}:
 1
 2

In [56]:
# easy swapping of values
a,b = b,a
[a,b]

2-element Array{Int64,1}:
 2
 1

In [57]:
# in most languages you have to do
a = 1
b = 2
temp = a
a = b
b = temp
[a,b]

2-element Array{Int64,1}:
 2
 1

### Julia allows simple boolean expressions

In [58]:
# Example
1 < a < 3

true

In [59]:
# In many languages this has to be written as
1 < a && a < 3

true

### Ternary Operator

In [60]:
a = 1
b = 1
c = 2

res = a==b ? a : b

1

In [61]:
a==c ? a : c

2

In [62]:
a==c ? 1 : 10

10

In [63]:
a==c-b ? 1 : 10

1

### Remainder

In [64]:
99 % 10

9

In [65]:
100 % 10

0

In [66]:
90 % 10

0

## Arrays (Vectors and Matricies)

### Declaration and Initialization of arrays

In [67]:
# empty vector of double precision floats
v = Array{Float64,1}()

0-element Array{Float64,1}

In [68]:
push!(v,2.0)
v

1-element Array{Float64,1}:
 2.0

In [69]:
# vector of size 5, double precision floats
u =  Array{Float64,1}(undef, 5)

5-element Array{Float64,1}:
 2.54639494965e-313
 2.75859452875e-313
 1.27319747527e-313
 6.5781869533e-313
 2.1219958073e-314

In [70]:
# matrix of size 3x5, double precision floats
U =  Array{Float64,2}(undef, 3,5)

3×5 Array{Float64,2}:
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

In [71]:
# vector of size 5, of 2.2
u =  fill(2.2,5)

5-element Array{Float64,1}:
 2.2
 2.2
 2.2
 2.2
 2.2

In [72]:
zeros(5)

5-element Array{Float64,1}:
 0.0
 0.0
 0.0
 0.0
 0.0

In [73]:
zeros(3,5)

3×5 Array{Float64,2}:
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

In [74]:
zero(U)

3×5 Array{Float64,2}:
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

In [75]:
ones(3,5)

3×5 Array{Float64,2}:
 1.0  1.0  1.0  1.0  1.0
 1.0  1.0  1.0  1.0  1.0
 1.0  1.0  1.0  1.0  1.0

In [76]:
using Random, Statistics

In [77]:
rand(3,5) # uniform(0,1)

3×5 Array{Float64,2}:
 0.166479  0.268334  0.269063  0.605399  0.642119
 0.722327  0.67564   0.882251  0.183593  0.70494
 0.810225  0.798755  0.806262  0.593992  0.201726

In [78]:
randn(3,5) # standard normal

3×5 Array{Float64,2}:
 0.788536  -0.309659    0.81292   1.5094     0.717494
 0.289554  -0.00780053  1.25038   0.881649  -0.765373
 1.15377   -1.83402     0.132648  0.254369  -2.46029

In [79]:
mean(randn(1_000_000))

-0.0005147259950349833

In [80]:
var(randn(1_000_000))

0.9986005256080187

In [81]:
using Distributions, LinearAlgebra

In [82]:
M = rand(Binomial(2,0.5),10,20)

10×20 Array{Int64,2}:
 1  1  1  0  1  0  0  1  0  1  0  0  1  2  1  1  1  1  1  0
 1  2  2  2  2  1  1  1  2  1  1  1  0  1  2  1  0  2  0  1
 0  2  2  0  1  1  0  2  0  1  0  2  1  1  2  1  0  2  2  2
 0  2  1  0  0  1  0  1  2  0  2  0  0  1  1  0  2  2  1  2
 1  1  2  1  1  0  2  1  1  1  0  1  2  1  2  0  1  0  0  1
 2  0  2  1  0  1  0  1  2  1  1  0  1  1  1  0  2  2  0  1
 1  0  1  2  1  1  1  1  1  1  1  0  1  0  2  1  1  2  1  1
 1  1  2  1  1  1  1  2  1  1  1  0  1  0  2  1  0  1  1  2
 0  1  2  0  1  1  1  1  0  2  1  1  0  1  2  1  0  0  2  1
 1  0  0  0  0  0  0  0  1  1  0  0  1  1  1  1  0  1  2  0

#### Get first column as one dimensionsal array

In [83]:
M[:,1]

10-element Array{Int64,1}:
 1
 1
 0
 0
 1
 2
 1
 1
 0
 1

#### Get first row as one dimensionsal array¶

In [84]:
M[1,:]

20-element Array{Int64,1}:
 1
 1
 1
 0
 1
 0
 0
 1
 0
 1
 0
 0
 1
 2
 1
 1
 1
 1
 1
 0

#### Transposing and array gives a row vector

In [85]:
M[1,:]'

1×20 Adjoint{Int64,Array{Int64,1}}:
 1  1  1  0  1  0  0  1  0  1  0  0  1  2  1  1  1  1  1  0

#### Sum of squares of elements in first row

In [86]:
M[1,:]'M[1,:]

16

In [87]:
M[1,:]'*M[1,:]

16

In [88]:
dot(M[1,:],M[1,:])

16

In [89]:
M[1,:].^2

20-element Array{Int64,1}:
 1
 1
 1
 0
 1
 0
 0
 1
 0
 1
 0
 0
 1
 4
 1
 1
 1
 1
 1
 0

In [90]:
sum(M[1,:].^2)

16

#### Matrix transpose and product

In [91]:
M'M == M'*M

true

### Identity Matrix

#### In general

In [92]:
Matrix{Float64}(I,3,3)

3×3 Array{Float64,2}:
 1.0  0.0  0.0
 0.0  1.0  0.0
 0.0  0.0  1.0

In [93]:
Matrix{Float64}(I,3,4)

3×4 Array{Float64,2}:
 1.0  0.0  0.0  0.0
 0.0  1.0  0.0  0.0
 0.0  0.0  1.0  0.0

In [94]:
Matrix{Float64}(I,4,3)

4×3 Array{Float64,2}:
 1.0  0.0  0.0
 0.0  1.0  0.0
 0.0  0.0  1.0
 0.0  0.0  0.0

#### When dimensions can be inferred

In [95]:
A = M'M + I

20×20 Array{Int64,2}:
 11   5  12   8   6   5   5   8  10  …   2   8   7  12   5   7  11   5   7
  5  17  17   6  10   8   6  13  10      8   6  10  17   7   6  14  10  14
 12  17  28  12  14  12  11  19  15     10  12  13  26  10  10  19  13  19
  8   6  12  12   8   6   7   8  10      3   6   4  13   5   5  11   3   8
  6  10  14   8  11   6   7  10   7      6   6   7  15   7   3  10   7   9
  5   8  12   6   6   8   4   9   8  …   4   4   5  12   5   5  11   7  10
  5   6  11   7   7   4   9   7   6      4   6   4  12   4   3   5   4   7
  8  13  19   8  10   9   7  16  10      7   9   9  19   8   7  15  11  15
 10  10  15  10   7   8   6  10  17      3   7   8  15   5  10  16   6  12
  8   9  16   7   9   7   7  11   8      6   8   9  17   8   5  11  11  10
  5   8  11   6   5   7   4   8  10  …   2   3   5  11   4   7  11   6  10
  2   8  10   3   6   4   4   7   3      8   4   5  10   4   1   6   6   7
  8   6  12   6   6   4   6   9   7      4  11   7  13   5   6   9   7   8
  7  10  13   4   7   5   4   9   8      5   7  12  13   6   7  11   9   8
 12  17  26  13  15  12  12  19  15     10  13  13  29  12   9  20  16  19
  5   7  10   5   7   5   4   8   5  …   4   5   6  12   8   2   9   9   7
  7   6  10   5   3   5   3   7  10      1   6   7   9   2  12  11   4   8
 11  14  19  11  10  11   5  15  16      6   9  11  20   9  11  24  12  16
  5  10  13   3   7   7   4  11   6      6   7   9  16   9   4  12  17  11
  7  14  19   8   9  10   7  15  12      7   8   8  19   7   8  16  11  18

### Subset of Matrix

In [96]:
B = A[1:2,3:4]

2×2 Array{Int64,2}:
 12  8
 17  6

In [97]:
C = A[1:2,11:end]

2×10 Array{Int64,2}:
 5  2  8   7  12  5  7  11   5   7
 8  8  6  10  17  7  6  14  10  14

### Concatenation
#### Horizontal

In [98]:
[B C]

2×12 Array{Int64,2}:
 12  8  5  2  8   7  12  5  7  11   5   7
 17  6  8  8  6  10  17  7  6  14  10  14

In [99]:
hcat(B,C)

2×12 Array{Int64,2}:
 12  8  5  2  8   7  12  5  7  11   5   7
 17  6  8  8  6  10  17  7  6  14  10  14

#### Vertical

In [100]:
[ 
A[1:2,:]
A[11:end,:]
]

12×20 Array{Int64,2}:
 11   5  12   8   6   5   5   8  10  …   2   8   7  12   5   7  11   5   7
  5  17  17   6  10   8   6  13  10      8   6  10  17   7   6  14  10  14
  5   8  11   6   5   7   4   8  10      2   3   5  11   4   7  11   6  10
  2   8  10   3   6   4   4   7   3      8   4   5  10   4   1   6   6   7
  8   6  12   6   6   4   6   9   7      4  11   7  13   5   6   9   7   8
  7  10  13   4   7   5   4   9   8  …   5   7  12  13   6   7  11   9   8
 12  17  26  13  15  12  12  19  15     10  13  13  29  12   9  20  16  19
  5   7  10   5   7   5   4   8   5      4   5   6  12   8   2   9   9   7
  7   6  10   5   3   5   3   7  10      1   6   7   9   2  12  11   4   8
 11  14  19  11  10  11   5  15  16      6   9  11  20   9  11  24  12  16
  5  10  13   3   7   7   4  11   6  …   6   7   9  16   9   4  12  17  11
  7  14  19   8   9  10   7  15  12      7   8   8  19   7   8  16  11  18

In [101]:
vcat(A[1:2,:],A[11:end,:])

12×20 Array{Int64,2}:
 11   5  12   8   6   5   5   8  10  …   2   8   7  12   5   7  11   5   7
  5  17  17   6  10   8   6  13  10      8   6  10  17   7   6  14  10  14
  5   8  11   6   5   7   4   8  10      2   3   5  11   4   7  11   6  10
  2   8  10   3   6   4   4   7   3      8   4   5  10   4   1   6   6   7
  8   6  12   6   6   4   6   9   7      4  11   7  13   5   6   9   7   8
  7  10  13   4   7   5   4   9   8  …   5   7  12  13   6   7  11   9   8
 12  17  26  13  15  12  12  19  15     10  13  13  29  12   9  20  16  19
  5   7  10   5   7   5   4   8   5      4   5   6  12   8   2   9   9   7
  7   6  10   5   3   5   3   7  10      1   6   7   9   2  12  11   4   8
 11  14  19  11  10  11   5  15  16      6   9  11  20   9  11  24  12  16
  5  10  13   3   7   7   4  11   6  …   6   7   9  16   9   4  12  17  11
  7  14  19   8   9  10   7  15  12      7   8   8  19   7   8  16  11  18

### Sorting

In [102]:
sort(M[:,1])

10-element Array{Int64,1}:
 0
 0
 0
 1
 1
 1
 1
 1
 1
 2

In [103]:
index = sortperm(M[:,1])

10-element Array{Int64,1}:
  3
  4
  9
  1
  2
  5
  7
  8
 10
  6

In [104]:
M[index,1]

10-element Array{Int64,1}:
 0
 0
 0
 1
 1
 1
 1
 1
 1
 2

### Sorting the entire matrix by the first column

In [105]:
M[index,:]

10×20 Array{Int64,2}:
 0  2  2  0  1  1  0  2  0  1  0  2  1  1  2  1  0  2  2  2
 0  2  1  0  0  1  0  1  2  0  2  0  0  1  1  0  2  2  1  2
 0  1  2  0  1  1  1  1  0  2  1  1  0  1  2  1  0  0  2  1
 1  1  1  0  1  0  0  1  0  1  0  0  1  2  1  1  1  1  1  0
 1  2  2  2  2  1  1  1  2  1  1  1  0  1  2  1  0  2  0  1
 1  1  2  1  1  0  2  1  1  1  0  1  2  1  2  0  1  0  0  1
 1  0  1  2  1  1  1  1  1  1  1  0  1  0  2  1  1  2  1  1
 1  1  2  1  1  1  1  2  1  1  1  0  1  0  2  1  0  1  1  2
 1  0  0  0  0  0  0  0  1  1  0  0  1  1  1  1  0  1  2  0
 2  0  2  1  0  1  0  1  2  1  1  0  1  1  1  0  2  2  0  1

### Sorting matrix by the sum of columns 1 and 2

In [106]:
M[sortperm( M[:,1]+M[:,2] ),:]

10×20 Array{Int64,2}:
 1  0  1  2  1  1  1  1  1  1  1  0  1  0  2  1  1  2  1  1
 0  1  2  0  1  1  1  1  0  2  1  1  0  1  2  1  0  0  2  1
 1  0  0  0  0  0  0  0  1  1  0  0  1  1  1  1  0  1  2  0
 1  1  1  0  1  0  0  1  0  1  0  0  1  2  1  1  1  1  1  0
 0  2  2  0  1  1  0  2  0  1  0  2  1  1  2  1  0  2  2  2
 0  2  1  0  0  1  0  1  2  0  2  0  0  1  1  0  2  2  1  2
 1  1  2  1  1  0  2  1  1  1  0  1  2  1  2  0  1  0  0  1
 2  0  2  1  0  1  0  1  2  1  1  0  1  1  1  0  2  2  0  1
 1  1  2  1  1  1  1  2  1  1  1  0  1  0  2  1  0  1  1  2
 1  2  2  2  2  1  1  1  2  1  1  1  0  1  2  1  0  2  0  1

### Selecting rows or columns of matrix

#### Select rows where row sum is > 19

In [107]:
vec(sum(M,dims=2) .> 19)

10-element BitArray{1}:
 false
  true
  true
 false
 false
 false
  true
  true
 false
 false

In [108]:
M[vec(sum(M,dims=2) .> 19), :]

4×20 Array{Int64,2}:
 1  2  2  2  2  1  1  1  2  1  1  1  0  1  2  1  0  2  0  1
 0  2  2  0  1  1  0  2  0  1  0  2  1  1  2  1  0  2  2  2
 1  0  1  2  1  1  1  1  1  1  1  0  1  0  2  1  1  2  1  1
 1  1  2  1  1  1  1  2  1  1  1  0  1  0  2  1  0  1  1  2

#### Get random subset of 5 columns from M

In [109]:
sel = sample(1:size(M,2),5,replace=false)

5-element Array{Int64,1}:
  5
  6
 12
  2
 19

In [110]:
M[:,sel]

10×5 Array{Int64,2}:
 1  0  0  1  1
 2  1  1  2  0
 1  1  2  2  2
 0  1  0  2  1
 1  0  1  1  0
 0  1  0  0  0
 1  1  0  0  1
 1  1  0  1  1
 1  1  1  1  2
 0  0  0  0  2

#### Get the remaining columns: 
#### M[:,-sel] does not work in Julia

In [111]:
setdiff(1:size(M,2),sel)

15-element Array{Int64,1}:
  1
  3
  4
  7
  8
  9
 10
 11
 13
 14
 15
 16
 17
 18
 20

In [112]:
M[:,setdiff(1:size(M,2),sel)] # not as nice as M[:,-sel]

10×15 Array{Int64,2}:
 1  1  0  0  1  0  1  0  1  2  1  1  1  1  0
 1  2  2  1  1  2  1  1  0  1  2  1  0  2  1
 0  2  0  0  2  0  1  0  1  1  2  1  0  2  2
 0  1  0  0  1  2  0  2  0  1  1  0  2  2  2
 1  2  1  2  1  1  1  0  2  1  2  0  1  0  1
 2  2  1  0  1  2  1  1  1  1  1  0  2  2  1
 1  1  2  1  1  1  1  1  1  0  2  1  1  2  1
 1  2  1  1  2  1  1  1  1  0  2  1  0  1  2
 0  2  0  1  1  0  2  1  0  1  2  1  0  0  1
 1  0  0  0  0  1  1  0  1  1  1  1  0  1  0

### Copy of array

In [113]:
v = [1, 2, 3]

3-element Array{Int64,1}:
 1
 2
 3

In [114]:
u = v
u[1] = 10
u

3-element Array{Int64,1}:
 10
  2
  3

In [115]:
v

3-element Array{Int64,1}:
 10
  2
  3

##### So, u is not just a copy of v. It is another name for v. To get a copy use:

In [116]:
v = [1, 2, 3]
u = copy(v)
u[1] = 10
u

3-element Array{Int64,1}:
 10
  2
  3

In [117]:
v

3-element Array{Int64,1}:
 1
 2
 3

## Control Flow and Loops

##### Consider adding the vectors u and v. One way to do this is:

In [118]:
result = zero(u) # gets vector of zeros identical in dimension to that of u
result[1] = u[1] + v[1]
result[2] = u[2] + v[2]
result[3] = u[3] + v[3]
[u v result]

3×3 Array{Int64,2}:
 10  1  11
  2  2   4
  3  3   6

##### Using loop:

In [119]:
result = zero(u)
for i=1:size(u,1)
    result[i] = u[i] + v[i]
end
[u v result]

3×3 Array{Int64,2}:
 10  1  11
  2  2   4
  3  3   6

#### Sum of elements in v

In [120]:
mySum = 0.0
for i = v
    mySum += i
end
mySum

6.0

#### Get vector of squared values in v

#### These are called list comprehensions

In [121]:
[i^2 for i in v]

3-element Array{Int64,1}:
 1
 4
 9

#### Get vector of square-roots of positive values in x

In [122]:
x = randn(10)
[sqrt(i) for i in x if i >= 0.0]

3-element Array{Float64,1}:
 0.7914384060027571
 0.559243119535243
 0.7884608056436087

In [123]:
x = randn(10)
res = [[i sqrt(value)] for (i,value) in enumerate(x) if value >= 0.0]

7-element Array{Array{Float64,2},1}:
 [1.0 1.11143]
 [3.0 0.242194]
 [4.0 0.84311]
 [7.0 0.234577]
 [8.0 0.890843]
 [9.0 0.350199]
 [10.0 0.846523]

#### Matrix from res

In [124]:
resMat = [row[i] for row in res, i=1:2]

7×2 Array{Float64,2}:
  1.0  1.11143
  3.0  0.242194
  4.0  0.84311
  7.0  0.234577
  8.0  0.890843
  9.0  0.350199
 10.0  0.846523

#### This list comprehension produces a two-dimensional array (a matrix)

In [125]:
[i+j for i=1:2, j=3:5]

2×3 Array{Int64,2}:
 4  5  6
 5  6  7

### Use of Range

In [126]:
?range

search: range LinRange UnitRange StepRange StepRangeLen StudentizedRange

  range(start[, stop]; length, stop, step=1)

  Given a starting value, construct a range either by length or from start to
  stop, optionally with a given step (defaults to 1, a UnitRange). One of
  length or stop is required. If length, stop, and step are all specified,
  they must agree.

  If length and stop are provided and step is not, the step size will be
  computed automatically such that there are length linearly spaced elements
  in the range (a LinRange).

  If step and stop are provided and length is not, the overall range length
  will be computed automatically such that the elements are step spaced (a
  StepRange).

  stop may be specified as either a positional or keyword argument.

  │ Julia 1.1
  │
  │  stop as a positional argument requires at least Julia 1.1.

  Examples
  ≡≡≡≡≡≡≡≡≡≡

  julia> range(1, length=100)
  1:100

  julia> range(1, stop=100)
  1:100

  julia> range(1, step=5, length=100)
  1:5:496

  julia> range(1, step=5, stop=100)
  1:5:96

  julia> range(1, 10, length=101)
  1.0:0.09:10.0

  julia> range(1, 100, step=5)
  1:5:96

In [127]:
r = range(0, step=0.1, stop=1)

0.0:0.1:1.0

In [128]:
# This works too

r = 0:0.1:1

0.0:0.1:1.0

r is not an arryay, but in many contexts behaves like one

In [129]:
sin.(r)

11-element Array{Float64,1}:
 0.0
 0.09983341664682815
 0.19866933079506122
 0.29552020666133955
 0.3894183423086505
 0.479425538604203
 0.5646424733950354
 0.644217687237691
 0.7173560908995228
 0.7833269096274834
 0.8414709848078965

### Use of Map to apply a function to elements of array

In [130]:
map(sin,r)

11-element Array{Float64,1}:
 0.0
 0.09983341664682815
 0.19866933079506122
 0.29552020666133955
 0.3894183423086505
 0.479425538604203
 0.5646424733950354
 0.644217687237691
 0.7173560908995228
 0.7833269096274834
 0.8414709848078965

### Reduce and Map-Reduce

In [131]:
# sum of elements in u
reduce(+,u)

15

In [132]:
# product of elements in u
reduce(*,u)

60

In [133]:
reduce(+,1:1000000)

500000500000

#### Sum of squares

In [134]:
n = 1_000_000
mapreduce(x -> x^2, +, 1:n)

333333833333500000

#### Here, a vector of squares is created first, which, as will be demonstrated later, slower because of the time used for memory allocation

In [135]:
reduce(+,(1:n).^2)

333333833333500000

## Types

### Determine the type of a variable as:

In [136]:
# type of M
typeof(M)

Array{Int64,2}

In [137]:
# type of v
typeof(v)

Array{Int64,1}

### Composite Types

In [148]:
# Example
mutable struct BankAccount
    accountNumber::Int64
    firstName::String
    lastName::String
    balance::Float64
end

#### Get all the names in a composite type:

In [152]:
fieldnames(BankAccount)

(:accountNumber, :firstName, :lastName, :balance)

#### Get the types of all fields:

In [153]:
BankAccount.types

svec(Int64, String, String, Float64)

#### Create an instance of `BankAccount`

In [161]:
a1 = BankAccount(1234,"Tom","Smith",1000.0)
a2 = BankAccount(4321,"Jim","Shanks",500.0)
a3 = BankAccount(9321,"Scott","Williams",500.0)

BankAccount(9321, "Scott", "Williams", 500.0)

#### Access field in composite type:

In [158]:
a1.balance

1000.0

In [160]:
# can modify fields of mutable structs
a1.balance = 2000.50

2000.5

In [162]:
a2.balance

500.0

In [163]:
a2.firstName

"Jim"

## Dictionaries (Associative Arrays) 
A collection of key value pairs

### Declaration

In [169]:
# d is an empty dictionary that can store "BackAccounts" with an interger key
d = Dict{Int64,BankAccount}()

Dict{Int64,BankAccount} with 0 entries

### Putting values in dictionary

In [172]:
d[a1.accountNumber] = a1
d

Dict{Int64,BankAccount} with 1 entry:
  1234 => BankAccount(1234, "Tom", "Smith", 1000.0)

In [173]:
d[a2.accountNumber] = a2
d

Dict{Int64,BankAccount} with 2 entries:
  4321 => BankAccount(4321, "Jim", "Shanks", 500.0)
  1234 => BankAccount(1234, "Tom", "Smith", 1000.0)

In [174]:
d[a3.accountNumber] = a3
d

Dict{Int64,BankAccount} with 3 entries:
  4321 => BankAccount(4321, "Jim", "Shanks", 500.0)
  9321 => BankAccount(9321, "Scott", "Williams", 500.0)
  1234 => BankAccount(1234, "Tom", "Smith", 1000.0)

#### Get array of keys in d

In [175]:
collect(keys(d))

Base.KeySet for a Dict{Int64,BankAccount} with 3 entries. Keys:
  4321
  9321
  1234

#### Get the value associated with `key = 1234`

In [176]:
d[1234]

BankAccount(1234, "Tom", "Smith", 1000.0)

#### Get array of values in d

In [178]:
collect(values(d))

3-element Array{BankAccount,1}:
 BankAccount(4321, "Jim", "Shanks", 500.0)
 BankAccount(9321, "Scott", "Williams", 500.0)
 BankAccount(1234, "Tom", "Smith", 1000.0)

#### Using list comprehension

In [182]:
[d[i] for i in keys(d)]

3-element Array{BankAccount,1}:
 BankAccount(4321, "Jim", "Shanks", 500.0)
 BankAccount(9321, "Scott", "Williams", 500.0)
 BankAccount(1234, "Tom", "Smith", 1000.0)

#### Check if Dictionary has a particular key

In [179]:
haskey(d,1234)

true

In [180]:
haskey(d,123)

false

In [138]:
function f1(n)
    mapreduce(x -> x^2, +, 1:n)
end

f1 (generic function with 1 method)

In [139]:
function f2(n)
    reduce(+,(1:n).^2)
end

f2 (generic function with 1 method)

In [140]:
@time f1(1_000_000)

  0.066549 seconds (102.92 k allocations: 5.267 MiB, 18.05% gc time)

333333833333500000

In [141]:
@time f2(1_000_000)

  0.045406 seconds (56.25 k allocations: 10.307 MiB)

333333833333500000

In [142]:
function f3(n)
    sum = 0
    for i=1:n
        sum += i^2
    end
    return sum
end

f3 (generic function with 1 method)

In [143]:
@time f3(1_000_000)

  0.013707 seconds (13.03 k allocations: 694.286 KiB)

333333833333500000